html, body {     
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;    
}

.form-container {      
    min-width: 400px;
    max-width: 600px;    
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 120px auto 20px auto;    
}


h3 {    
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {    
    display: flex;
    flex-direction: column;
}

input {
    min-width: 400px;
    max-width: 580px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #218838;
}

.success, .error {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.haveAcc {
    text-align: center;
    margin-top: 20px;
}

.haveAcc p {
    margin: 0;
}

.haveAcc a {
    color: #0056b3;
    text-decoration: none;
}

.haveAcc a:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {    
    .form-container {
        width: 90%; 
        min-width: unset; 
        max-width: 500px; 
        margin: 100px auto 20px auto;
        padding: 15px;
    }
    
    input {
        width: 95%;
        min-width: unset;
        max-width: unset;
        font-size: 14px;
        padding: 8px;
    }
    
    button {
        width: 100%; 
        font-size: 14px;
        padding: 8px;
    }
    
    h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    html, body {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
