html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;  
    font-family: Arial, sans-serif; 
}

form { 
    min-width: 400px;
    max-width: 600px;       
    padding: 20px; 
    border-radius: 10px;     
    width: 250px;   
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 120px auto 20px auto;     
}

form h3{
    text-align: center;
}

form input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    background-color: white;
}

form button {
    width: 100%; 
    padding: 10px; 
    background: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

form button:hover {
    background: #218838; 
}

.optionGender{
    display:inline-flex;
    font-size: small;
    flex-direction: row;     
    text-align: center; 
    margin-left:30px;    
}

.haveAcc{
    margin-top: 10px;
    display:flex;
    font-size: small;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.haveAcc p {
    margin: 0; 
    color: #007BFF;
}

.haveAcc a {    
    text-decoration: none; 
    font-weight: bold; 
    color: #007BFF;
    cursor: pointer;
}

.haveAcc a:hover{
    color: #0056b3;
}

.error {
    font-size: small;
    color: red;
    text-align: center;
}

@media (max-width: 1000px) {
    form {
        width: 90%;
        min-width: unset;
        max-width: 500px;
        margin: 100px auto 20px auto;
        padding: 15px;
    }

    input {
        width: 95%;
        font-size: 14px;
        padding: 8px;
    }

    button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    html, body {
        overflow-x: hidden;
        overflow-y: auto;
    }
}