body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    color: white;
    font-size: 40px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: red;
}

.content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

h1 {
    margin: 0 0 20px 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
